// header
// ======================
.header {
    width: 100%;
    @include flexbox(flex, center, flex-start, nowrap);
    transition: .3s ease-in-out;
    z-index: 99999;
    padding: 1.4rem 0;
    top: 0;
    background-color: $light;
    // &.fixed {
    //     position: fixed;
    // }
    @include md {
        padding: 3.5rem 0;
    }
    &.on-nav {
        .header-nav {
            transform: translateX(0);
        }
        .header-toggle-navi {
            span {
                &:nth-child(1) {
                    top: .8rem;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    top: .8rem;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    &.fade-nav {
        .header-nav {
            &:before {
                transform: translateX(0);
            }
        }
        .primary-menu, .nandemo {
            transform: translateX(0);
        }
    }
    &-logo {
        position: relative;
        @include flexbox(flex, normal, start, wrap);
        z-index: 10;
        transition: .3s ease-in-out;
        margin: 0 auto;
        @include lg {
            flex: 1;
            margin: 0;
        }
        img {
            height: auto;
        }
        a {
            width: 4.4rem;
            line-height: 0;
            @include md {
                width: 7.4rem;
            }
        }
    }
    .container {
        align-items: center;
        @include lgm {
            justify-content: space-between;
        }
    }
    &-nav {
        width: 100%;
        height: 100vh;
        flex-direction: column;
        overflow: auto;
        transform: translateX(100%);
        transition: .3s ease-in-out;
        background-color: $light;
        z-index: 9999;
        @include flexbox(flex, flex-start, flex-start, nowrap);
        @include lgm {
            position: fixed;
            left: 0;
            top: 0;
            padding: 8rem 3.2rem 3.2rem;
        }
        @include lg {
            width: calc(100% - 18rem);
            height: auto;
            overflow: inherit;
            align-items: center;
            justify-content: flex-end;
            flex-direction: row;
            background-color: transparent;
            transform: translateX(0);
            .header-logo {
                display: none !important;
            }
        }
        .menu-header-menu-container {
            @include lgm {
                width: 100%;
            }
        }
        .menu {
            list-style: none;
            margin-top: 3.2rem;
            @include lg {
                margin-top: 0;
                @include flexbox(flex, center, center, nowrap);
            }
            &-item {
                // &.active {
                //     a {
                //         border-bottom: .2rem solid $primary;
                //     }
                // }
                + .menu-item {
                    margin-top: 3.2rem;
                    @include lg {
                        margin-left: 2.4rem;
                        padding: 1.45rem 0;
                        margin-top: 0;
                    }
                }
                &:last-child {
                    @include lg {
                        padding-right: 3.2rem;
                        border-right: .2rem solid $fifth;
                    }
                }
                a {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.9rem;
                    line-height: 2.3rem;
                    color: $fifth;
                }
            }
        }
    }
    .primary-menu {
        width: 70%;
        @include flexbox(flex, flex-start, flex-start, nowrap);
        flex-direction: column;
        background-color: $light;
        padding: 2.5rem 0 0;
        transform: translateX(-100%);
        transition: .3s ease-in-out;
        z-index: 99;
        @include lg {
            width: 100%;
            @include flexbox(flex, normal, flex-start, wrap);
            flex-direction: row;
            overflow: unset;
            background-color:transparent;
            padding: 0;
            transform: translateX(0);
        }
        .menu {
            width: 100%;
            list-style: none;
            @include flexbox(flex, flex-start, flex-start, nowrap);
            flex-direction: column;
            @include lg {
                margin-left: 3rem;
            }

            &-item {
                position: relative;
                width: 100%;
                @include lg {
                    width: auto;
                    &:not(:last-child) {
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: .1rem;
                            height: 2rem;
                            background-color: $base;
                            transform: translateY(-50%);
                        }
                    }
                
                    &:hover {
                        .sub-menu {
                            @include lg {
                                top: 100%;
                                opacity: 1;
                                pointer-events: auto;
                            }
                        }
                    }
                }
            }

            .on-sub {
                .toggle-submenu {
                    &:after {
                        transform: rotate(0) translateY(-50%);
                    }
                }
            }

            .toggle-submenu {
                position: absolute;
                top: .5rem;
                right: 0;
                width: 5rem;
                height: 5rem;
                border: 0;
                background-color: transparent;
                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 1.6rem;
                    width: 1.8rem;
                    height: .2rem;
                    background-color: $base;
                    transform: translateY(-50%);
                    transition: .3s ease-in-out;
                }
                &:after {
                    left: 1.5rem;
                    transform: rotate(90deg) translateY(-50%);
                }
            }

            a {
                width: 100%;
                display: inline-block;
                padding: 1.5rem 4rem;
                font-size: 2.2rem;
                font-weight: 700;
                white-space: nowrap;
                @include lg {
                    font-size: 2rem;
                    padding: 0 2.5rem;
                }
            }
        }
        
    }

    &-toggle-navi {
        width: 2.1rem;
        height: 1.6rem;
        padding: 0;
        display: inline-block;
        position: relative;
        @include flexbox(flex, center, center, wrap);
        background-color: transparent;
        border: 0;
        z-index: 99999;
        @include lg {
            display: none;
        }
        span {
            width: 100%;
            height: .2rem;
            position: absolute;
            left: 0;
            background-color: $base;
            border-radius: .3rem;
            transition: .3s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: .7rem;
            }
            &:nth-child(3) {
                top: 1.5rem;
            }
        }
    }
    .language {
        align-items: center;
        justify-content: center;
        img {
            width: 2.4rem !important;
            height: 2.4rem !important;
            margin-right: .5rem;
        }
        select {
            border: none;
            outline: none;
            font-size: 1.6rem;
            color: $fifth;
            margin-left: 1rem;
            font-family: $base-serif;
            @include lg {
                text-transform: uppercase;
                margin-left: 1.6rem;
                font-size: 2.3rem;
            }
        }
    }
}